:root {
  --color-off-white: #f8f8ff;
  --color-red-dk: #c34a36;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
}

::selection {
  color: var(--color-off-white);
  background-color: var(--color-red-dk);
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
